{% extends "Layout.html" %}

{% block content %}

<div class="columns-2 h-screen w-full bg-gradient-to-t from-[#030303] to-[#0A0617] text-white">
    <div class="w-[15rem] flex flex-col items-center h-screen bg-black" id="border-left">
        <div class="flex items-center flex-col justify-center w-[14rem]">
            
            <div class="flex items-center w-full h-16 px-6 p-1 rounded-md my-1">
                <div class="icon p-3 rounded-full hover:bg-[#343434] transition-all duration-300 cursor-pointer text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" 
                fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75ZM2 8a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 8Zm0 4.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                  </svg>
                </div>
                  
                <div class="flex items-center w-full ml-4">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="45" height="45" viewBox="0 0 48 48">
                        <circle cx="24" cy="24" r="20" fill="#f44336"></circle><polygon fill="#fff" points="21,29 29,24 21,19"></polygon><path fill="none" stroke="#fff" stroke-miterlimit="10" d="M24,14c5.5,0,10,4.476,10,10s-4.476,10-10,10	s-10-4.476-10-10S18.5,14,24,14"></path>
                        </svg>
                    <h1 class="ml-2 text-2xl font-normal text-white">Music</h1>
                </div>
            </div>

            <div class="flex items-center w-full h-12 px-6 rounded-md my-1 transition-all duration-300
              hover:bg-[#262525]">
                <div class="icon p-3 rounded-full transition-all duration-300 cursor-pointer text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                      </svg>
                      
                </div>
                  
                <div class="flex items-center w-full ml-4">
                    <h1 class="text-xl font-normal text-white">Music</h1>
                </div>
            </div>

            <div class="flex items-center w-full h-12 px-6 rounded-md my-1 transition-all duration-300
            hover:bg-[#262525]">
              <div class="icon p-3 rounded-full transition-all duration-300 cursor-pointer text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                    </svg>
                    
              </div>
                
              <div class="flex items-center w-full ml-4">
                  <h1 class="text-xl font-normal text-white">Music</h1>
              </div>
          </div>

          <div class="flex items-center w-full h-12 px-6 rounded-md my-1 transition-all duration-300
          hover:bg-[#262525]">
            <div class="icon p-3 rounded-full transition-all duration-300 cursor-pointer text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                  </svg>
                  
            </div>
              
            <div class="flex items-center w-full ml-4">
                <h1 class="text-xl font-normal text-white">Music</h1>
            </div>
        </div>


        <div class="flex items-center w-full h-12 px-6 rounded-md my-1 transition-all duration-300
        hover:bg-[#262525]">
          <div class="icon p-3 rounded-full transition-all duration-300 cursor-pointer text-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                  <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
                </svg>
                
          </div>
            
          <div class="flex items-center w-full ml-4">
              <h1 class="text-xl font-normal text-white">Music</h1>
          </div>
      </div>


      <div class="flex items-center w-full h-12 px-6 rounded-md my-1 transition-all duration-300
      hover:bg-[#262525]">
        <div class="icon p-3 rounded-full transition-all duration-300 cursor-pointer text-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
              </svg>
              
        </div>
          
        <div class="flex items-center w-full ml-4">
            <h1 class="text-xl font-normal text-white">Music</h1>
        </div>
    </div>


    <div class="flex items-center w-full h-12 px-6 rounded-md my-1 transition-all duration-300
    hover:bg-[#262525]">
      <div class="icon p-3 rounded-full transition-all duration-300 cursor-pointer text-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
            </svg>
            
      </div>
        
      <div class="flex items-center w-full ml-4">
          <h1 class="text-xl font-normal text-white">Music</h1>
      </div>
  </div>


  <div class="flex items-center w-full h-12 px-6 rounded-md my-1 transition-all duration-300
  hover:bg-[#262525]">
    <div class="icon p-3 rounded-full transition-all duration-300 cursor-pointer text-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
          </svg>
          
    </div>
      
    <div class="flex items-center w-full ml-4">
        <h1 class="text-xl font-normal text-white">Music</h1>
    </div>
</div>

        </div>
    </div>
    <div class="w-full h-screen">
        <h1>Right Side</h1>
    </div>
</div>
{% endblock %}